#main{
    width:80%;
    height:15em;
    /* border:1px solid red; */
    margin:auto;
    margin-top: 40px;;
    display: flex;
    padding:20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
    /* gap:20px; */
}

.left{
    /* border:1px solid green; */
    background-color: #38336c;
    width:70%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.right{
    /* border:1px solid blue; */
    /* background-color: #38336c; */
    width:30%;
    height:35em;
    border-bottom-left-radius: 15%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.right>img{
    width:100%;
    height:80%;
    object-fit: cover;
}

/* //buy button  */
.button {
    --purple: #9B7EDA;
    font-size: 18px;
    padding: 0.8em 3em;
    letter-spacing: 0.08em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--purple);
    background: linear-gradient(to right, rgba(155, 126, 218, 0.1) 1%, transparent 40%, transparent 60%, rgba(155, 126, 218, 0.1) 100%);
    color: var(--purple);
    box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.4), 0 0 9px 3px rgba(155, 126, 218, 0.1);
    display: block;
    margin: auto;
  }
  
  .button:hover {
    color: #BFA3F3;
    box-shadow: inset 0 0 10px rgba(155, 126, 218, 0.6), 0 0 9px 3px rgba(155, 126, 218, 0.2);
  }
  
  .button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(155, 126, 218, 0.1) 40%, rgba(155, 126, 218, 0.1) 60%, transparent 100%);
  }
  
  .button:hover:before {
    transform: translateX(15em);
  }

  .table{
    /* border:1px solid blue; */
    width:40%;
    margin-left:10%;
    margin-top:20px;
    background-color: white;
  }

  .desc{
    width:50%;
    margin-left:10%;
    background-color:white;
    padding:5px;
  }
  .desc>h3{
    text-decoration: underline;
    word-wrap: break-word;
  }

  
  /* //loaders */
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid rgba(0, 102, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #0066ff;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #060047;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  }
  
  .loader::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #0066ff;
    border-right: 3px solid #0066ff;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }
  
  .loader span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  }
  
  .loader span::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00aeff;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px 5px #0066ff;
  }
  
  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
  
    100% {
      transform: rotate(405deg);
    }
  }